.venv/*
data/decompiled/**/
data/exported/**/
data/exported/*.json
data/initialized/*.7z
data/initialized/*.check
data/initialized/*.iso
data/remaked/**/
libs/**/*.pyc
libs/structs/*.py
libs/vendors/**/
